<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <bgsound src="http://yinyueshiting.baidu.com/data2/music/27855051/27855052187200128.mp3?xcode=38b78d0c51295a579e3af6bc579c5e94eb25fe82229e7067" loop="-1">
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="http://www.vitaminali.com">{{site.title}}</a></h1>
        <p>Choose what I love, and love her!</p>
        <p class="view"><a href="https://github.com/{{site.username}}/VitaminAli">View the Project on GitHub <small>{{site.username}}/VitaminAli</small></a></p>
        <ul>
          <li><a href="https://github.com/{{site.username}}/VitaminAli/tree/gh-pages">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a> {{ page.title }} 
        </h1>
{{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/{{site.username}}">Vitamin°</a></p>
      <p><script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F913d3368daf90b2c79f8569a9ffa5e00' type='text/javascript'%3E%3C/script%3E"));
    </script></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
